* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    background-image: url('Image/1567666.png');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #112859c3;
}

.navbar a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #ffffffc2;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}